{%- comment -%}
Include as: {%- include components/breadcrumbs.html -%}
Depends on: page, site.
Results in: HTML for the breadcrumbs component.
Overwrites:
pages_list, parent_page, grandparent_page.
{%- endcomment -%}

{%- if page.url != "/" and page.parent -%}
  <!-- Create iterable array of pages with titles and children -->
  {%- assign pages_list = site[page.collection]
    | default: site.html_pages
    | where_exp: "item", "item.title != nil"
    | where_exp: "item", "item.has_children != nil" -%}

  <!-- Create iterable array of url fragments -->
  <!-- We're not going to use this directly, but it'll give us something
       to iterate over that is relatively close in length to the number of
       ancestors. -->
  {%- assign url_fragments = page.url 
    | remove_first: '/'
    | split: "/" -%}

  <!-- Array initializer -->
  {%- assign ancestors = "" | split: "" -%}

  <!-- Backtrack from current page and fill ancestor array -->
  {%- assign ancestors = ancestors | push: page -%}
  {%- for _ in url_fragments -%}
    {%- if ancestors.last.parent -%}
      {%- assign current = pages_list
        | where: "title", ancestors.last.parent
        | first -%}
      {%- assign ancestors = ancestors | push: current -%}
    {%- endif -%}
  {%- endfor -%}

  <!-- Reverse array to get ancestors in correct order -->
  {%- assign ancestors = ancestors | reverse -%}

  <!-- Output breadcrumbs -->
  <nav aria-label="Breadcrumb" class="breadcrumb-nav">
    <ol class="breadcrumb-nav-list">
      {% for ancestor in ancestors %}
        {%- if forloop.last -%}
          <li class="breadcrumb-nav-list-item">
            <span>{{ page.title }}</span>
          </li>
        {%- else -%}
          <li class="breadcrumb-nav-list-item">
            <a href="{{ancestor.url | relative_url}}">{{ ancestor.title }}</a>
          </li>
        {%- endif -%}
      {% endfor %}
    </ol>
  </nav>

{%- endif -%}
